<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="VirtueMart" parallel="tests">
  <test name="SiteTest">
    <classes>
      <class name="Test_Cases.User_Login"/>
    </classes>
  </test> <!-- SiteTest -->
</suite> <!-- VirtueMart -->
